.DS_Store
server/.gradle/
server/build/
server/.classpath
server/.idea/
server/.project
server/.settings/
server/bin/
web/node_modules/
web/.project
web/.settings/
web/package-lock.json
.env
.env.dev
